<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - TSysWatch</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <header>
        <h2>TSysWatch 系统监控</h2>
        <nav>
            <a href="/">首页</a>
            <a href="/Home/Index">MVC首页</a>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <hr />
        <p>&copy; 2025 TSysWatch</p>
    </footer>
</body>
</html>
