@* 顶部导航栏部分，供_Layout.cshtml引用 *@
<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="/">TSysWatch</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Index">MVC首页</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="autoMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        自动化工具
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="autoMenu">
                        <li><a class="dropdown-item" href="/AutoDelete/Index">自动删除</a></li>
                        <li><a class="dropdown-item" href="/AutoCopyFile/Index">自动拷贝</a></li>
                        <li><a class="dropdown-item" href="/AutoMoveFile/Index">自动移动</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/DbRepair/Index">数据库修复</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/FileManager/Index">文件管理</a>
                </li>
            </ul>
            <span class="navbar-text text-light">
                @DateTime.Now.ToString("yyyy年MM月dd日")
            </span>
        </div>
    </div>
</nav>
